@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* shared styles */

/* bannner section style starts heres */
.banner-container {
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
        url(../images/banner-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%); */
    /* background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay; */
}

.banner-content {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
}


.banner-content p {
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1 {
    color: white;
    font-size: 72px;
    font-weight: 900;
}

/* second section style */
.second-section-container {
    max-width: 802.9px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 120px auto;
}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-title {
    font-size: 88px;
    font-weight: 700;
}

.second-section-subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-top: 48px;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

.second-section-img {
    border: 2px dashed #474747;
}

.second-section-img img {
    height: 100%;
    width: 100%;
}

/* midnight party styles */
.midnight-party-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background-image: url(../images/vectorrr.png);
    background-color: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-blend-mode: overlay;

    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.leftside-content {
    width: 60%;
    height: 600px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    padding-left: 126px;
    padding-top: 126px;
}

.leftside-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.leftside-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    padding-right: 40px;
}

.leftside-content span {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
    margin-top: 48px;
}

.rightside-content {
    width: 40%;
    height: 600px;
    /* border: 2px solid yellow; */
    padding: 68px;
}

/* holiday styles */
.holiday-section-container {
    width: 1320px;
    height: 986.07px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 120px;

}